@media (max-width: 991px) {

    /* top bar */
    #top_bar span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        margin-top: 9px;
        display: inline-block;
    }

    /* nav bar */
    nav {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
        border: none;
    }

    .navbar-toggler {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler .iconify-icon {
        font-size: 20px;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: normal;
    }

    .action_btns {
        margin-left: auto;
    }

    .nav-item a {
        padding: 10px 10px;
    }

    /* banner */
    #banner .col-lg-8 h1 {
        font-size: 36px;
        line-height: 94%;
    }

    #banner .col-lg-8 p {
        font-size: 14px;
        line-height: 143%
    }

    #banner .col-lg-8 .row p {
        margin-bottom: 0;
    }


    #banner .lines {
        width: 52px;
        height: 0px;
    }

    #banner .hide {
        display: none;
    }

    /* brands */
    #brands .bg_cont{
        background: #000;
        height: 146px;
    }
    #brands img{
        margin-top: 40px;
    }
    /* new arrival */
    #new_arrival h3{
    margin-top: 50px;
    margin-bottom: 32px;
    }
    #new_arrival .details p{
    font-size: 18px;
    margin-top: 5px;
    }
    #new_arrival .details p span{
        font-size: 18px;
    }
    .swiper-button-prev{
        top: 100px;
    }
    .swiper-button-next{
        top: 100px;
    }
    /* top sell */
    #top_selling{
        margin-top: -30px;
    }
    .swiper-slide{
        width: 295px;
        height: 360px;
    }
    /* gallery */
    .first_img{
        position: static;
    }
    .second_img{
        position: static;
        margin: 16px 0;
    }
    .third_img{
        position: static;
    }
    .fourth_img{
        position: static;
        margin: 16px 0;

    }
}