* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
}

.button_primary {
    border-radius: 62px;
    padding: 16px 54px;
    background: #000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    width: 210px;
    height: 52px;
}
.button_secondary{
    border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 62px;
padding: 16px 54px;
width: 218px;
height: 52px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #000;
}

/* top bar */
#top_bar .bg_top {
    background: #000;
    height: 38px;
}

#top_bar span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-top: 9px;
    display: inline-block;
}

#top_bar span a {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

/* nav  bar */
/* .nav-item ul li{
    padding: 0 22px;
} */
.nav-item a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 0 22px;
}

nav input {
    border-radius: 62px;
    padding: 12px 16px;
    width: 577px;
    height: 48px;
    border: none;
    outline: none;
    background: #f0f0f0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 50px;
}

.search_box {
    position: relative;
}

.search_box .fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}

.action_btns a {
    font-size: 20px;
    margin: 0 7px;
    color: #000;
}

/* banner */
/* !sd */
#banner .bg_cont {
    background: #f2f0f1;
}

#banner .col-lg-8 h1 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    color: #000;
    margin-top: 40px;
}

#banner .col-lg-8 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: rgba(0, 0, 0, 0.6);
    margin: 20px 0 24px;
}

#banner .col-lg-4 img {
    margin-top: 50px;
}

#banner .col-lg-8 .row h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: #000;
    margin-top: 48px;
}

#banner .col-lg-8 .row p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.6);
}

#banner .lines {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 74px;
    height: 0px;
    transform: rotate(-90deg);
    margin-top: 95px;
}
/* brands */
#brands .bg_cont{
    background: #000;
    height: 122px;
}
#brands img{
    margin-top: 44px;
}
/* new arrival */
#new_arrival h3{
    font-family: var(--second-family);
font-weight: 800;
font-size: 48px;
text-align: center;
color: #000;
text-transform: uppercase;
margin-top: 72px;
margin-bottom: 55px;
}
/* button start */
.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
}
.swiper-button-next,
.swiper-button-prev{
  background-color: #000000;
  border: 0.0625rem solid var(--border-color);
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.3125rem;
  color: #ffffff;
  font-size: 0.9375rem;
}

.swiper-button-prev{
  left: initial;
  right: 2.5rem;
}

.swiper-button-next{
  right: 1rem;
  top: 150px;
}
.swiper-button-prev{
    left: 0.5rem;
    top: 150px;
}
/* button end */
/* !swipper */
.swiper-slide{
    width: 295px;
    height: 408px;
}
#new_arrival .details h4{
    font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
color: #000;
margin-top: 16px;
}
#new_arrival .ratings i{
    color: #ffc633;
}
#new_arrival .ratings span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #000;
margin: 8px 0;
}
#new_arrival .details p{
    font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
color: #000;
}
#new_arrival .details p span{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
}
#new_arrival .discount{
border-radius: 62px;
padding: 6px 14px;
width: 58px;
height: 28px;
margin-left: 10px;
margin-top: 5px;
background: rgba(255, 51, 51, 0.1);
}

#new_arrival .discount span{
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
color: #f33;
align-items: center;
display: flex;
}
/* gallery */
#gallery .bg_cont{
    background: #f0f0f0;
    height: 866px;
    border-radius: 40px;
    margin-top: 95px;
    position: relative;
}
#gallery h3{
    font-family: var(--second-family);
font-weight: 900;
font-size: 48px;
text-align: center;
color: #000;
text-transform: uppercase;
padding: 70px 0 64px;
}
.first_img{
    position: absolute;
    top: 192px;
    left: 64px;
}
.second_img{
    position: absolute;
    top: 192px;
    left: 491px;
}
.third_img{
    position: absolute;
    bottom: 76px;
    left: 64px;
}
.fourth_img{
    position: absolute;
    bottom: 76px;
    left: 768px;
}
/* review */
#client_review h3{
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 48px;
    color: #000;
    margin: 80px 0 40px;
}
#client_review .ratings i{
    color: #ffc633;
}
#client_review .swiper-slide{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px;
    width: 400px;
    height: 240px;
}
.reviewer_name{
    margin: 15px 0 12px;
}
#client_review span{
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 110%;
color: #000;
}
.fa-certificate{
    color: #01AB31;
    margin-left: 5px;
}
#client_review p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 137%;
color: rgba(0, 0, 0, 0.6);
}

/* details */
.details_cnt{
    border-radius: 20px;
padding: 36px 64px;
width: 1240px;
height: 180px;
background: #000;
margin: 80px auto 0;
z-index: 100;
transform: translateY(40%);
}
#stay_up .col-lg-7 h2{
    font-family: var(--second-family);
font-weight: 900;
font-size: 45px;
line-height: 112%;
color: #fff;
}
#stay_up .email_box input{
    border-radius: 62px;
padding: 12px 16px;
width: 349px;
height: 48px;
background: #fff;
border: none;
outline: none;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.4);
padding-left: 52px;
}
.email_box{
    position: relative;
}
.fa-envelope{
    position: absolute;
    left: 16px;
    top: 12px;
    font-size: 24px;
}
.button{
    border-radius: 62px;
padding: 12px 16px;
width: 349px;
height: 46px;
background: #fff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #000;
justify-content: center;
margin-top: 14px;
align-items: center;
display: flex;
}

/* footer */
footer .bg_cont{
    background: #f0f0f0;
    height: 499px;
}
.footer_cnt{
    padding-top: 140px;
}
footer .col p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.6);
    margin: 25px 0 35px;
}
footer .icons_bg{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    margin: 0 6px;
}
footer .icons_bg a i{
    display: flex;
    justify-content: center;
    line-height: 28px;
    font-size: 12px;
    color: #000;
}
footer .icons_bg:hover,
footer .icons_bg a i:hover{
    background: #000;
    color: #fff;
}